* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/*============ CURSOR CSS============*/
.cursor {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(160, 160, 160);
  background: rgba(179, 179, 179, 0.075);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.98);
  }
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim2 .5s forwards;
  border: 1px solid rgb(44, 44, 44);
}

@media only screen and (max-width:620px) {
  .cursor {
    display: none;
  }
}

/*______________________________________________________FullpageCSS_________________________________________________________________*/

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  margin: 0;
  font-family: 'Montserrat', serif;
  text-rendering: optimizeLegibility;
  height: 600vh;
}

body::-webkit-scrollbar {
  display: none;
}

.well {
  position: relative;
  /* overflow: hidden; */
  /* transition: 1s cubic-bezier(0.5, 0, 0.5, 1); */
}

.top {
  font-size: 80%;
  color: hsla(0, 0%, 100%, 0.25);
  position: relative;
  top: -0.2em;
  cursor: pointer;
}

.panel {
  position: relative;
  height: 100vh;
  /* overflow: hidden; */
  font-size: 10vmin;
  /* padding: 1em; */
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.1);
}

.panel:nth-child(1) {
  padding: 0px;
  background-image: url('pics/bg1.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

@media only screen and (max-width: 699px) {
  .panel:nth-child(1) {
    padding: 0px;
    height: 100vh;
    background-image: url('pics/bg4.png');
    background-color: black;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }

  .hero-text {
    text-align: center !important;
  }

  .cursor {
    display: none;
  }
}

.panel:nth-child(2) {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.panel:nth-child(3) {
  background: rgba(44, 44, 44, 1);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.panel:nth-child(4) {
  background: whitesmoke;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.panel:nth-child(5) {
  background: rgba(44, 44, 44, 1);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.panel:nth-child(6) {
  background: rgba(44, 44, 44, 1);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

/*__________________________First scroll_____________________________________*/
/* .one {
  position: relative;
} */
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  height: 40vh;
  width: fit-content;
  transform: translateY(-50%);
  left: 10%;
}

.name h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 13vh;
  letter-spacing: 0.25em;
  color: #ffffff;
  width: 34vw;
  height: 26vh;
  left: 15vw;
  top: 50%;
  border-bottom: 1px solid white;
}

.hero-text {
  height: auto;
  width: 34vw;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}

.hero-text p {
  margin: 0rem 0rem 0rem 0rem;
}

.hero-text .contact-btn {
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.2);
  font-family: 'Montserrat', serif;
  margin: 10px 0 0 0;
  padding: 10px;
  font-weight: 400;
  background-color: #00aaaf;
  color: white;
  height: 43px;
  width: 200px;
  transition: all 0.1s ease;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact-btn:hover {
  transform: scale(1.03);
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 1190px) {
  .name {
    /* height: 19vh !important; */
    margin: 0;
    width: 50vw;
    align-items: flex-start;
    justify-content: center;
  }

  .name h1 {
    line-height: 8vh !important;
    width: fit-content;
    font-size: 56px;
    height: fit-content;
  }

  .hero-text {
    width: fit-content;
  }
}

@media only screen and (max-width: 700px) {
  .name {
    /* height: 19vh !important; */
    margin: 0;
    width: 80vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
  }

  .name h1 {
    font-size: 10vw;
    line-height: 8vh !important;
    letter-spacing: 0.25em;
    color: #ffffff;
    width: fit-content;
    height: fit-content;
    left: 15vw;
    top: 35vh;
    text-align: center !important;
  }

  .name .hero-text {
    width: fit-content;
  }

  .name .hero-text .contact-btn {
    width: 200px !important;
    height: 35px;
    font-size: 14px;
    padding: 5px;
  }

  .name .hero-text p {
    font-family: 'Montserrat', sans-serif;
    font-style: lighter;
    font-weight: 50 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: left;
    color: #ffffff;
  }

  .navigation ul li {
    font-size: 11px !important;
    padding: 0px 10px 0px 0px !important;
    font-weight: lighter;
  }

  .menu {
    margin-bottom: 0vh !important;
    height: 100px;
    width: 100px;
  }
}

.name hr {
  width: 40vw;
  height: 0px;
  left: 15vw;
  border: 0.1vh solid #ffffff;
}

.name p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100 !important;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
}

/*_____________NAVBAR_________________*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 180px;
}

.navigation ul li {
  list-style-type: none;
  cursor: pointer;
  display: inline-flex;
  color: rgb(255, 255, 255);
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
}

.navigation ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem;
}

.navigation ul li a:hover {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;
}

/*____________BUTTON____________*/
.menu {
  display: flex;
  position: absolute;
  top: 30%;
}

.menu button {
  background: transparent;
  border: none;
  outline: 0;
}

/*______________________________MODAL____________________________________*/
.Mod {
  background: black;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Mod .modal-dialog-full-width {
  height: 90%;
  width: 100%;
  margin: 0px !important;
  position: absolute;
  padding: 0px !important;
  background-color: black !important;
}

.Mod .modal-dialog-full-width .modal-content-full-width {
  height: 90vh;
  width: 100vw;
  margin: 0px !important;
  padding: 0px !important;
  position: absolute;
  background: black;
}

/*____________CLose btn_______________*/
.Mod .modal-dialog .modal-content .close1 {
  color: white !important;
  float: left;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  text-shadow: none;
  opacity: 10;
  outline: 0;
  width: 50px;
  margin-left: auto;
}

/*______modalbody____________*/
.modal-bodyz {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

/*__________firstcol_______________*/
.modal-bodyz .firstcol {
  width: 25vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-right: 0.1px solid rgba(153, 153, 153, 0.295);
}

.modal-bodyz .firstcol .content {
  width: 20vw !important;
  margin: 20% 0% 0% 13%;
}

.modal-bodyz .firstcol h3 {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  color: #ffffff;
  padding: 0px 0px 30px 0px;
}

.modal-bodyz .firstcol .text,
.modal-bodyz .firstcol .social {
  width: 20vw;
  margin: 0px 0px 30px 0px;
}

.modal-bodyz .firstcol .text h6,
.modal-bodyz .firstcol .social h6 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #28afb0;
  letter-spacing: 0.03em;
  padding: 0px 0px 3px 0px;
}

.modal-bodyz .firstcol .text p {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #b5b5b5;
}

.modal-bodyz .firstcol .social p {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
  color: #e3c567;
  letter-spacing: 0.01em;
  padding-top: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-bodyz .firstcol .social p:hover {
  letter-spacing: 0.1em;
}

/*________secondcol_________*/
.modal-bodyz .secondcol {
  width: 60vw;
  height: 53vh;
  display: flex;
  flex-direction: column;
  margin: 5% 0% 0% 5%;
  align-items: center;
}

.modal-bodyz .secondcol .content {
  width: 28vw;
}

.modal-bodyz .secondcol .content h1 {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 88px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

.modal-bodyz .secondcol .content h1 a {
  text-decoration: none;
  color: white;
}

.content h1 a:hover {
  color: rgb(116, 116, 116) !important;
}

.modal-bodyz .secondcol .content h1:hover {
  color: rgb(116, 116, 116);
}

@media only screen and (max-width: 970px) {
  .modal-bodyz .firstcol {
    width: 50vw;
    height: 100vh;
    border-right: 0.1px solid rgba(153, 153, 153, 0.151);
  }

  .modal-bodyz .firstcol .content {
    width: 40vw !important;
    margin: 20% 0% 0% 5%;
  }

  .modal-bodyz .firstcol h3 {
    font-size: 24px;
    line-height: 44px;
  }

  .modal-bodyz .firstcol .text,
  .modal-bodyz .firstcol .social {
    width: 200px;
    margin: 0px 0px 30px 0px;
  }

  .modal-bodyz .secondcol {
    width: 50vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    margin: 10% 0% 0% 5%;
    align-items: flex-start;
  }

  .modal-bodyz .secondcol .content h1 {
    font-size: 32px;
    line-height: 88px;
  }
}

@media only screen and (max-width: 500px) {
  .modal-bodyz .firstcol {
    width: 50vw;
    height: 100vh;
    border-right: 0.1px solid rgba(153, 153, 153, 0.151);
  }

  .modal-bodyz .firstcol .content {
    width: 40vw !important;
    margin: 20% 0% 0% 5%;
  }

  .modal-bodyz .firstcol h3 {
    font-size: 18px;
    line-height: 44px;
  }

  .modal-bodyz .firstcol .text,
  .modal-bodyz .firstcol .social {
    width: 200px;
    margin: 0px 0px 30px 0px;
  }

  .modal-bodyz .firstcol .text p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #b5b5b5;
  }

  .modal-bodyz .secondcol {
    width: 50vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    margin: 10% 0% 0% 5%;
    align-items: flex-start;
  }

  .modal-bodyz .secondcol .content h1 {
    font-size: 24px;
    line-height: 88px;
  }
}

/*___________________________/.MODAL___________________________________*/


/*===================================================== HOBBIES/CARDS PAGE  == 4 ==============================================================*/
.hobbies {
  width: 100%;
  background-color: whitesmoke;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hobbies h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #2C2C2C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4vh 0 0 0;
  border-bottom: 1px solid rgb(172, 172, 172);
  width: fit-content;
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}


.hobbies .Abtrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.hobbies .Abtrow .Abtcol {
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;

}

.hobbies .Abtrow .Abtcol .Abtcards {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  transition: 0.5s ease-in-out;

}

.hobbies .Abtrow .Abtcol .Abtcards:hover {
  transform: scale(1.02);
}

.hobbies .Abtrow .Abtcol .Abtcards .picz:hover {

  /* box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.25), -2px 0px 20px rgba(0, 0, 0, 0.25), 0px 2px 20px rgba(0, 0, 0, 0.25); */
  box-shadow: -2px 0px 50px 10px rgba(0, 0, 0, 0.25), 0px 2px 50px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-out;
}

.hobbies .Abtrow .Abtcol .Abtcards .tag:hover {

  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
  transition: 0.1s;
}

.hobbies .Abtrow .Abtcol .Abtcards .tag {
  width: 290px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  justify-self: flex-start;
  padding-bottom: -510px;
  position: sticky;
  transform: translateY(80%);
  font-size: 16px;
  font-family: 'Montserrat', serif;
  font-weight: normal;
}

.hobbies .Abtrow .Abtcol .Abtcards .picz {
  width: fit-content !important;
  height: fit-content !important;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width:1196px) {
  .hobbies .Abtrow .Abtcol .Abtcards .picz {
    width: 200px;
    height: 60vh;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag {
    width: 200px;
  }
}

@media only screen and (max-width:1024px) {
  .hobbies h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .hobbies .Abtrow {
    height: 80vh;
    width: 100%;
    flex-direction: column;
  }

  .hobbies .Abtrow .Abtcol {
    width: 50% !important;
    height: 40vh !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .picz {
    width: 400px !important;
    height: 400px !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag {
    width: 400px !important;
  }
}

@media only screen and (max-width:830px) {
  .hobbies h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .hobbies .Abtrow {
    height: 80vh;
    width: 100%;
    flex-direction: column;
  }

  .hobbies .Abtrow .Abtcol {
    width: 50% !important;
    height: 40vh !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .picz {
    width: 300px !important;
    height: 250px !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag {
    width: 300px !important;
  }
}

@media only screen and (max-width:645px) {
  .hobbies .Abtrow .Abtcol .Abtcards .picz {
    width: 200px !important;
    height: 250px !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag {
    width: 200px !important;
    height: 5.5vh;
  }
}

@media only screen and (max-width:520px) {
  .hobbies {
    height: 150vh;
  }

  .hobbies h2 {
    font-size: 2rem !important;
    padding: 3vh 0 0 0 !important;
    padding: 0;
    border-bottom: 0;
  }

  .hobbies .Abtrow {
    flex-direction: column;
    height: 135vh;
    width: 100%;
  }

  .hobbies .Abtrow .Abtcol {
    width: 100% !important;
    height: 210px !important;
    justify-content: center !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .picz {
    width: 300px !important;
    height: 210px !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag {
    width: 300px !important;
    height: 5.5vh;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .picz:hover {
    box-shadow: none;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag:hover {

    box-shadow: none;
    transition: 0.1s;
  }

  .hobbies .Abtrow .Abtcol .Abtcards:hover {
    transform: none;
  }
}



/* @media screen and (min-height:1366px),
      screen and (min-width:1024px) {
          .hobbies .Abtrow .Abtcol .Abtcards .picz {
              width: 400px ;
              height: 500px;
          }
          .hobbies .Abtrow .Abtcol .Abtcards .tag {
              width: 400px;
              height: 5.5vh;
              font-size: 26px;
          }
      } */

@media only screen and (max-height:640px) {
  .hobbies .Abtrow .Abtcol .Abtcards .picz {
    width: 280px !important;
    height: 125px !important;
  }

  .hobbies .Abtrow .Abtcol .Abtcards .tag {
    width: 280px !important;
    height: 5.5vh;
  }
}




/*__________________________________HOBBIES MODAL - MODAL2__________________________________________*/
.modal2 {
  background: rgb(0, 0, 0);
  cursor: pointer;
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-self: center;

}

.modal2 .modal-dialog-full-width {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center !important;
  align-items: center !important;
  background: transparent;
  margin: 0 !important;
  padding: 0 !important;
  /* transform: translateX(100%); */
}

.modal2 .modal-dialog-full-width .modal-content-full-width {
  justify-self: center;
  align-self: center;
  height: fit-content;
  width: fit-content;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: transparent;
  margin: 0 !important;
  padding: 0 !important;
}

/*____________CLose btn_______________*/
.part1 .closecircle {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  background-color: #333232;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  float: flex-end;
  text-align: end;
}

.part1 .closecircle .close2 {
  color: white !important;
  padding: 0px;
  margin: 0px;
  display: flex;
  font-size: 3rem;
  font-weight: 100;
  opacity: 10 !important;
  outline: 0 !important;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-self: center;
  position: absolute;
  transform: translate(0%, -2%);
}

.body2 {
  height: 100vh;
  width: 100%;
  border: 0em;
  outline: 0em;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  transform: translate(25vw, 0%);
  margin: 0 !important;
  padding: 0;
}

.body2 .container-fluid {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: 0 !important;
  padding: 0 !important;
}

.part1 {
  /* background-image: url("pics/modalyellow.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0%, 0%;
  display: flex;
  border: none;
  outline: 0em;
  float: right;
  width: 500px;
  height: 66.31vh;
  /* width: 32.57328990228013vw;
          height: 66.3129973474801vh; */
  position: relative;
  margin: 0;
  justify-content: flex-end;
  background: rgba(40, 175, 176, 1);
  transform: translateX(0%);
}

.part1 .triangle {
  height: 0;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid black;
  border-bottom: 40px solid transparent;
  border-top: 40px solid black;
  justify-self: flex-end;
  position: absolute;

}


.part1 .content {
  /* margin: 25% 20% 0% 0%; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20%;
}

.part1 .content .heading {
  background: white;
  height: 14%;
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

.part1 .content .heading h3 {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  color: #000000;
  padding: 9px 0px 0px 0px;

}

.part1 .content .sub-head {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 10px;
  color: #414141;
  text-align: center;

}

.part1 .content .text {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-bottom: 1px solid rgb(112, 112, 112);
  padding: 5px;
  margin-bottom: 10px;
}

.part1 .content .hbbutton {
  width: 200px;
  margin: 5px 0;
  background-color: white;
  padding: 5px 10px;
  text-align: center;
  font-family: 'Montserrat', serif;
  font-weight: bolder;
  font-size: 14px;
  color: #4F4F4F;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease;
}

.part1 .content .hbbutton:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}

.body2 .part2 {
  width: 550px;
  height: 330px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(30%);
  margin: 0;
}

.part2 img {
  width: 540px;
  height: 320px;
}

.part2 .closecircle {
  display: none;
}


/*=============MEDIA QUERIES============*/

@media only screen and (max-width:600px) {

  .body2 {
    transform: translateX(0%) !important;
  }

  .body2 .container-fluid {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh;
    width: 100%;
    margin: 0 !important;
  }

  /*_____________Part 2________________*/
  .body2 .container-fluid .part2 {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100vw !important;
    height: 40vh !important;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateX(0%);
  }

  .part2 img {
    width: 97vw !important;
    height: 37vh !important;
  }



  /*______________-Part 1_________________*/
  .part1 {
    float: center;
    width: 100vw !important;
    height: 60vh !important;
    position: relative;
    margin: 0em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    justify-content: flex-end;
    transform: translateX(0%) !important;

  }

  .part1 .closecircle {
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background-color: #333232;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: flex-end;
    text-align: end;
  }

  .part1 .closecircle .close2 {
    color: white !important;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 3rem;
    font-weight: 100;
    opacity: 10 !important;
    outline: 0 !important;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-self: center;
    position: absolute;
    transform: translate(0%, -2%);
  }

  .part1 .triangle {
    border-left: 40px solid transparent;
    border-right: 40px solid rgb(255, 255, 255);
    border-bottom: 40px solid transparent;
    border-top: 40px solid rgb(255, 255, 255);
  }

  .part1 .content {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center !important;
    align-items: center;
    transform: translateY(-8%);
  }

  .part1 .content .heading {
    height: 12%;
    width: 200px;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
  }

  .part1 .content .heading h3 {
    font-size: 20px;
  }

  .part1 .content .sub-head {
    text-align: center !important;
    margin-top: 0 !important;
    font-size: 14px !important;
    margin-bottom: 2vh;
    letter-spacing: 0.02em;
  }

  .part1 .content .text {
    font-size: 18px;
    text-align: center;

  }

}

@media only screen and (max-width:1024px) {
  .body2 .part1 {
    width: 400px;
    height: 500px;
  }

  .body2 .part2 {
    width: 500px;
    height: 300;
    transform: translateX(20%);
  }

  .part2 .img {
    width: 490px;
    height: 290px;
  }
}

@media only screen and (min-height:900px) {
  .body2 .part1 {
    width: 400px;
    height: 450px;
  }

  .body2 .part2 {
    width: 500px;
    height: 200px !important;
    transform: translateX(20%);
  }

  .part2 .img {
    width: 480px !important;
    height: 200px !important;
  }
}

@media only screen and (max-width:912px) {
  .body2 {
    transform: translateX(10vw);
  }

  .body2 .part1 {
    width: 500px;
  }

  .body2 .part2 {
    width: 400px;
    transform: translateX(40%);
  }

  .part2 .img {
    width: 380px;
  }
}

@media only screen and (max-width:800px) {
  .body2 {
    transform: translateX(5vw);
  }

  .body2 .part1 {
    width: 400px;

  }

  .body2 .part2 {
    width: 350px;
    transform: translateX(30%);
  }

  .part2 .img {
    width: 330px;
  }
}

@media only screen and (max-width:673px) {

  .body2 {
    transform: translateX(5vw);
  }

  .body2 .part1 {
    width: 300px;
    height: 400px;
    transform: translateX(20%);
  }

  .body2 .part2 {
    width: 300px;
    height: 200px;
    transform: translateX(30%);
  }

  .part2 .img {
    width: 330px;

  }
}

/*=======================================HOBBIES MODAL =====================================*/

/*===================================================== HOBBIES/CARDS PAGE == 4 ==============================================================*/


/*_____________________________________SOCIAL MEDIA PG3_____________________________________________________-*/

.media h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Rammetto One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 7vw;
  line-height: 13vh;
  text-align: center;
  position: absolute;
  color: transparent;
  background: rgba(44, 44, 44, 1);
  -webkit-text-stroke: 0.2vw rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .media h1 {
    font-size: 10vw;
  }
}

.media .first {
  margin-left: 16vw;
  top: 15vh;
}

.media .second {
  margin-left: 40vw;
  top: 40vh;
}

.media .third {
  margin-left: 16vw;
  margin-top: 65vh;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 0px !important;
}

.media .first:before {
  content: attr(data-text);
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media .second:before {
  content: attr(data-text);
  background: radial-gradient(circle at 30% 107%,
      #00acee 0%,
      #66757f 5%,
      #00acee 45%,
      #36d8ff 60%,
      #f5f8fa 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media .third:before {
  content: attr(data-text);
  background: radial-gradient(circle at 30% 107%, #030a49 0%, #63589c 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:hover:before {
  width: 100%;
}

/*____________________________CARDS PG4_____________________________________*/


/*==================================CONTACT PAGE PG5 ==============================================*/
.five {
  background-color: rgba(44, 44, 44, 1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

/*==========================
               TOP CONTENT
        ============================*/
.topcontent {
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
}

.topcontent .heading {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.topcontent .heading .headone {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.9vw;
  line-height: 67px;
  text-align: center;
  color: #ffffff;
  padding-right: 10px;
}

.topcontent .heading .headtwo {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.9vw;
  line-height: 67px;
  text-align: center;
  color: #00aaaf;
}

.topcontent .subtxt {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.25vh;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.5;
}

.topcontent .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center !important;
  margin: 10px auto 0px auto;
  height: 52px;
  width: 240px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  padding: auto auto auto auto;
  transition: 0.2s all ease-out;
}


.topcontent .btn:hover {
  background: #00aaaf;
  border: none;
  transform: scale(1.05);

  /* box-shadow: -3px 0px 7px #bcbcbc, 3px 0px 7px rgba(188, 188, 188, 0.35),
    0px 2px 7px rgba(188, 188, 188, 0.35); */
}

.topcontent .btn p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #eeeeee !important;
  margin: auto 3px auto 0px;
}

.topcontent .btn .iconify {
  font-size: 25px;
  margin: auto 0px auto 0px;
}

/*==========================
               BOTTOM CONTENT PG
        ============================*/
.bottomcontent {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  padding: 0px;
  margin: 0px;
  margin-top: auto;
  align-items: flex-end;
}

.bottomcontent .left {
  background: #00aaaf;
  width: 40vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
}

.bottomcontent .left .text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: flex-start;
}

.bottomcontent .left .text h6 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: black;
  margin-bottom: 10px;
}

.bottomcontent .left .text p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.bottomcontent .left .socialicons {
  display: flex;
  position: relative;
  align-self: center;
  margin-left: auto;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-icons .icon-boxez {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-icons .icon-box {
  position: relative;
  width: 6vw;
  height: 10vh;
  background-color: white;
  margin: 5px;
}

.social-icons .icon-boxez .icon-box a {
  align-items: center;
  position: absolute;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-left: 35% !important;
  margin-top: 15% !important;
}

.social-icons .icon-boxez .icon-box a .iconify {
  transition: all 0.1s ease;
}

.social-icons .icon-boxez .icon-box a .ic-insta {
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  color: white;
  border: rgb(78, 47, 47) 2px;
  border-image-slice: 100%;
  border-radius: 5px !important;
}

.social-icons .icon-boxez .icon-box a .iconify:hover {
  transform: scale(1.3) !important;
}

/*=======Right ====*/
.bottomcontent .right {
  background: white;
  width: 60vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 70px;
}

.bottomcontent .right form {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  justify-self: center !important;
  align-items: flex-start !important;
  margin-top: auto;
  margin-bottom: auto;
}

.bottomcontent .right h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #4e4e4e;
}

.bottomcontent .right form input {
  /*text*/
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  text-align: left;
  letter-spacing: -0.02em;

  /*box*/
  background: white;
  border-bottom: 0.5px solid #c5c5c5 !important;
  border-radius: 0px;
  border: 0px;
  margin: 0px 0px 30px 0px;
  text-decoration: none !important;
}

.bottomcontent .right form .btn {
  /*text*/
  font-family: 'Montserrat', sans-serif;
  background: #28afb0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  /* border: 1px solid #c5c5c5; */
  box-sizing: border-box;
  border-radius: 0px;
  margin-top: 0px !important;
  transition: all 0.2s ease;
  transform-origin: center;
  margin: 0 !important;
  padding: 0 !important;
  transform: translateY(0%);
}

.bottomcontent .right form .btn:hover {
  font-weight: bold;
  transform: translateY(0%);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}



@media only screen and (max-width:1024px) {

  .topcontent .heading .headone {
    font-size: 40px !important;
  }

  .topcontent .heading .headtwo {
    font-size: 40px !important;
  }

  .topcontent .btn {
    height: 52px;
    width: 240px;
  }

  .bottomcontent .left {
    padding: 10px 15px;
  }

  .social-icons .icon-boxez .icon-box a {
    align-items: center;
    position: absolute;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-left: 28% !important;
    margin-top: 25% !important;
  }

  .topcontent .heading .headone {
    font-size: 40px;
  }

  .topcontent .heading .headtwo {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .topcontent {
    margin-top: 10vh !important;
  }

  .topcontent .heading .headone {
    font-size: 40px !important;
    line-height: 40px;
    padding-right: 10px;
  }

  .topcontent .heading .headtwo {
    font-size: 40px !important;
    line-height: 40px;
  }

  .topcontent .subtxt {
    font-size: 12.5px;
    line-height: 29px;
  }

  .topcontent .btn {
    margin: 0px auto 0px auto !important;
    height: 50px;
    width: 200px;
  }

  .topcontent .btn p {
    font-size: 16px;
    line-height: 18px;
  }

  .bottomcontent .left {
    flex-direction: column !important;
    padding: 10px 15px;
  }

  .bottomcontent .left .socialicons {
    margin-left: 0 !important;
    align-self: flex-start !important;
    justify-self: flex-start !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  .bottomcontent .left .socialicons .social-icons {
    justify-content: flex-start !important;
    align-items: flex-start;
  }

  .social-icons .icon-box {
    width: 60px;
    height: 60px;
  }

  .bottomcontent .left .socialicons .icon-boxez .icon-box a {
    margin-left: 35% !important;
    margin-top: 15% !important;
  }

  .bottomcontent .left .socialicons .icon-boxez .icon-box a .iconify {
    font-size: 18px !important;
  }

  .bottomcontent .right {
    background: white;
    width: 60vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 30px 50px 50px;
  }

  .bottomcontent .right h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #4e4e4e;
    margin: 0px 0px 40px 0px;
  }

  .bottomcontent .right form input {
    font-size: 10px;
    line-height: 11px;
  }

  .bottomcontent .right form .btn {
    width: 150px;
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .topcontent .heading .headone {
    font-size: 28px !important;
  }

  .topcontent .heading .headtwo {
    font-size: 28px !important;
  }

  .topcontent .btn {
    margin: 0px auto 0px auto !important;
    height: 50px;
    width: 200px;
  }

  .topcontent .btn p {
    font-size: 14px;
    line-height: 18px;
  }

  .bottomcontent .left {
    flex-direction: column !important;
    padding: 10px 10px;
  }

  .bottomcontent .left .text h6 {
    font-size: 16px;
    line-height: 16px;
  }

  .bottomcontent .left .text p {
    font-size: 14px;
    line-height: 14px;
  }

  .social-icons .icon-box {
    width: 15vw;
    height: 8vh;
  }

  .bottomcontent .left .socialicons .icon-boxez .icon-box a {
    margin-left: 35% !important;
    margin-top: 15% !important;
  }

  .bottomcontent .left .socialicons .icon-boxez .icon-box a .iconify {
    font-size: 18px !important;
  }

  .bottomcontent .right {
    padding: 30px 20px 10px 20px;
  }

  .bottomcontent .right h3 {
    font-size: 18px;
    line-height: 20px;
  }
}


@media only screen and (min-height:840px) {
  .topcontent .heading .headone {
    font-size: 48px !important;
    line-height: 48px;
  }

  .topcontent .heading .headtwo {
    font-size: 48px !important;
    line-height: 48px;
  }

  .topcontent .btn {
    height: 70px;
    width: 350px;
  }

  .topcontent .btn p {
    font-size: 22px;
  }

  .bottomcontent .left .text h6 {
    font-size: 26px;
  }

  .bottomcontent .left .text p {
    font-size: 20px;
  }

  .bottomcontent .right h3 {

    font-size: 32px;
  }

  .bottomcontent .right form input {
    /*text*/

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    letter-spacing: -0.02em;

    /*box*/

    margin: 0px 0px 50px 0px;
  }

  .bottomcontent .right form .btn {
    width: 250px;
    height: 45px;
  }
}
@media only screen and (min-height:1200px){

  .topcontent .heading .headone {
    font-size: 48px !important;
    line-height: 48px;
  }

  .topcontent .heading .headtwo {
    font-size: 48px !important;
    line-height: 48px;
  }
  .topcontent .btn {
    height: 70px;
    width: 350px;
  }
  .topcontent .btn p {
    font-size: 22px;
  }
  .bottomcontent .right {
    padding: 100px 80px;
  }
  .bottomcontent .left .text h6 {
    font-size: 32px;
  }
  .bottomcontent .left .text p {
    font-size: 25px;
  }
  .bottomcontent .right h3 {
    font-size: 32px;
  }
  .bottomcontent .left{
    flex-direction: column;
    padding: 100px 20px;
  }
  .bottomcontent .left .socialicons {
    margin-left: 0;
    align-self: flex-start;
  }
  .social-icons .icon-box {
    position: relative;
    width: 10vw;
    height: 10vw;
    background-color: white;
    margin: 5px;
  }
  .bottomcontent .left .socialicons .icon-boxez .icon-box a .iconify {
    font-size: 40px !important;
  }
}

/* _____________________about section css  _________________________________________________--*/
.free-section {
  background-color: #2c2c2c;
  height: 30vh;
}

.about-me {
  background: #2c2c2c;
  padding: 1rem 0rem;
}

.frame {
  height: 70vh;
  width: 80vw;
  border-radius: 0;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* padding: 1rem 3rem;
  margin: 0rem 3rem; */
  margin-bottom: 2rem;
}

.about-left {
  width: 60%;
  transform: translateY(-10%);
  margin: 0 0 0 5%;
}

.about-left .heading {
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.about-left .heading h1 {
  font-family: 'Montserrat', serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 2.3rem;
  color: #2c2c2c;
}

/* .line {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  color: #28afb0;
} */

.about-left .before-line {
  position: relative;
  display: flex;
  /* sets a flex container */
  align-items: center;
  /* aligns vertically */
  width: 40%;
}

.about-left .before-line h1 {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #28afb0;
}

.about-left .before-line::before {
  border-top: 2px solid black;
  display: block;
  height: 1px;
  content: ' ';
  width: 100%;
  /* full-width ;)*/
  top: 50%;
  opacity: 0.2;
}



.body .card-text {
  color: rgba(123, 123, 123, 1);
  width: fit-content;
  padding-right: 10%;
  padding: 1rem 0rem;
  font-size: 16px;
  line-height: 20px;
  align-items: flex-start;
  text-align: start;
}

.about-right {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

.about-right .img-holder {
  transform: translateX(9.8%);
  position: relative;
  width: 500px;
  height: 350px;
  margin: 0;
  padding: 0;
}

.grad-img {
  height: 100%;
  border-radius: 0;
  width: 100%;
}

@media only screen and (min-width:680px) {
  .about-right .card-btn {
    display: none;
  }
}

.about-left .body .card-btn {
  /* margin-top: 1rem; */
  position: relative;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 250px;
  background: #28afb0;
  transition: all 0.2s ease-in-out;
}

.about-left .body .card-btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}


.img-holder {
  overflow: hidden;
}

/* @media all and (max-width: 450px) {
  .heading-h1 {
    font-size: 1.9rem !important;
  }

  .line {
    font-size: 1.5rem !important;
  }

  .card-btn {
    font-size: 0.9rem;
    height: 35px !important;
  }

  .card-text {
    font-size: 0.7rem;
  }
} */

/* @media all and (min-width: 650px) {
  .grad-img {
    height: 100%;
    width: 100px;
  }

  .card-text {
    font-size: 1.5em;
  }
} */


@media all and (min-width: 680px) {
  .about-left {
    display: flex;
    flex-direction: column;
  }

  .about-left .heading {
    /* justify-content: center;
    align-items: center; */
    padding-left: auto;
    padding-right: auto;
  }

  .heading h1 {
    font-size: 3em;
    /* text-align: center; */
  }

  .body .card-text {
    font-size: 16px !important;
  }

  .about-right {
    display: flex;
    flex-direction: column;
  }

  .frame {
    /* height: 70vh; */
    flex-direction: row;
    padding: 3rem;
    position: relative;
  }

  /* .card-text {
    text-align: left;
    width: 70%;
    padding: 0 0 20px 0;
  } */

  /* .grad-img { */
  /* float: rigth; */
  /* height: 100%;
    width: 200px;
  } */

  /* .card-btn {
    width: 30%;
    position: absolute;
    left: 50px;
    bottom: 13%;
  } */
  .line {
    font-size: 2.5em;
    text-align: left;
  }

  .before-line h2 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #28afb0;
  }

  /* .line::before{
      position: absolute;
      content: '';
      margin-about-.about-left: 1rem;
      width: 10%;
      background: #2c2c2c ;
      height: 2px;
      top: 75%;
      about-.about-left: 0;
  } */
  /* .before-line {
    position: absolute;
    top: 70%;
    display: block;
    width: 10%;
    height: 0.2rem;
    background: #2c2c2c;
  } */
}

/* @media all and (min-width: 800px) {
  .grad-img {
    height: 100%;
    width: 300px;
  }

  .card-text {
    font-size: 1em;
  }
} */
/*=====================Extra Media Queries=============================================== */


@media only screen and (max-width: 1130px) {
  .about-right .img-holder {
    transform: translateX(14%);
    width: 350px;
    height: 250px;
  }

  .before-line {
    position: relative;
    display: flex;
    /* sets a flex container */
    align-items: center;
    /* aligns vertically */
    width: 40%;
  }

  .before-line h2 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #28afb0;
  }

  .before-line::before {
    border-top: 2px solid black;
    display: block;
    height: 1px;
    content: ' ';
    width: 100%;
    /* full-width ;)*/
    top: 50%;
    opacity: 0.2;
  }
}


@media only screen and (max-width:870px) {
  .about-right .img-holder {
    transform: translateX(15.5%);
    width: 280px;
    height: 250px;
  }
}

@media only screen and (max-width:800px) {
  .frame {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .about-left .before-line {
    width: 40%;
  }

  .about-left {
    width: 90%;
    height: fit-content;
    margin: 0;
    padding: 0 !important;
  }

  .about-left .heading {
    align-items: center;
    justify-content: center;
  }

  .about-left .heading h1 {
    width: fit-content;
  }

  .before-line {
    width: 60% !important;
  }

  .before-line h1 {
    width: fit-content;
  }

  .body {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

  .body .card-text {
    align-items: center;
    text-align: center;
    padding: 0 5px;
    margin: 0;
  }

  .about-right {
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  .about-right .img-holder {
    transform: none !important;
    width: 100%;
    height: 30vh;
    margin: 0 !important;
    padding: 0 !important;
  }

  .grad-img {
    height: 100% !important;
    border-radius: 0;
    width: 92% !important;
  }

  .about-left .body .card-btn {
    display: none !important;
  }

  .about-right .card-btn {
    /* margin-top: 1rem; */
    position: relative;
    margin-top: 3vh;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    height: 40px;
    width: 250px;
    background: #28afb0;
    transition: all 0.2s ease-in-out;
  }

  .about-right .card-btn:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }

  .about-left .before-line {
    position: relative;
    display: flex;
    /* sets a flex container */
    align-items: center;
    /* aligns vertically */
    width: 40%;
  }
}



.box1 {
  /* height: 100vh; */
  z-index: 5;
}

.box2 {
  /* height: 100vh; */
  z-index: 6;
}

.box3 {
  /* height: 100vh; */
  z-index: 7;
}

.box4 {
  /* height: 100vh; */
  z-index: 8;
}

/* about section css ends here  */

/*============================================
                         /.CONTACT PAGE
        ==============================================*/