/*============ CURSOR CSS============*/

.cursor {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(160, 160, 160);
  background: rgba(179, 179, 179, 0.075);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.98);
  }
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim2 0.5s forwards;
  border: 1px solid rgb(44, 44, 44);
}

/*______________________Horizontal scroll_________________________*/
body {
  margin: 0px;
  padding: 0em;
  overflow-x: visible !important;
}

.slide {
  width: 190vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row !important;
  cursor: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 190vw;
}

.inner-wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: visible;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: inherit;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  display: flex;
  flex-direction: row !important;
  z-index: 9;
}

/*______________________Horizontal scroll_________________________*/

.navbar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 17vw;
  background-color: white;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: flex-start;
  padding: 2px;
}

.navbar h1 {
  justify-self: center;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 3.4vw;
  line-height: 69px;
  letter-spacing: 0.05em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  background: url('pics/textbg.png');
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*==============*/
.box-1 {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0px !;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff666600;
}
.box-1 a {
  text-decoration: none;
}

.btn-one {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  padding: 0px;
  margin: 0px !important;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}

.btn-one span {
  transition: all 0.5s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(46, 46, 46);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/*=======================*/
.navbar span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
  letter-spacing: 0.05em;
  color: #424242;
  text-decoration: none;
}

.navbar p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ababab;
  margin: 55vh 0px 0px 0px !important;
}

.bar {
  width: 33.33vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1s ease-in-out;
}

.bar .description {
  margin-top: auto;
}

.bar .description h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.3vw;
  line-height: 44px;
  color: #e0e0e0;
  text-align: center;
}

.bar .description p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.57vw;
  line-height: 29px;
  color: #a2a2a2;
  text-align: center;
}

.bar img {
  margin-top: 40vh;
  width: 15.1vw;
  height: 22vh;
}

.bar1 {
  background: url('pics/bar1.jpg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

.bar:hover {
  width: 38vw;
  transform: scale(1.01);
  transition: 1s ease-in-out;
}

.bar2 {
  background: url('pics/bar2.jpg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

.bar3 {
  background: url('pics/bar3.jpg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

.bar4 {
  background: url('pics/bar4.jpg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

.bar5 {
  background: url('pics/bar5.jpg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%;
}

/*______________________________MODAL____________________________________*/
.Mod {
  background: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: translate(20%, 0%);
}

.Mod .modal-dialog-full-width {
  height: 100%;
  width: 80%;
  margin: 0px !important;
  position: absolute;
  padding: 0px !important;
  background-color: black !important;
  margin-left: 20vw !important;
}

.Mod .modal-dialog-full-width .modal-content-full-width {
  height: 100vh;
  width: 80vw;
  margin: 0px !important;
  padding: 0px !important;
  position: absolute;
  background: black;
}

/*____________CLose btn_______________*/
.Mod .modal-dialog .modal-content .close1 {
  color: white !important;
  float: left;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  text-shadow: none;
  opacity: 10;
  outline: 0;
  width: 50px;
  margin-left: auto;
}

/*______modalbody____________*/
.modal-bodyz {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 0px !important;
  padding: 0px !important;
}

.modal-bodyz img {
  position: absolute;
  margin-top: 25vh;
  margin-left: 12.25vw;
}

/*__________firstcol_______________*/
.modal-bodyz .firstcol {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  margin: 0px !important;
  padding: 0px !important;
}

.firstcol h2 {
  display: none;
}

/*________secondcol_________*/
.modal-bodyz .secondcol {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: black;
  margin: 0px !important;
  padding: 0px !important;
}

.modal-bodyz .secondcol .content {
  width: 30vw;
  height: fit-content;
  margin: 18vh 0% 0% 20%;
}

.modal-bodyz .secondcol .content h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #ececec;
}

.modal-bodyz .secondcol .content p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: right;
  color: #bbbbbb;
  margin-top: 10%;
}

@media only screen and (max-width: 800px) {
  .slide {
    width: fit-content !important;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content !important;
  }

  .navbar {
    width: 40vw;
  }

  .navbar h1 {
    font-size: 30px;
    margin-right: auto !important;
    padding: 0px !important;
  }

  .navbar span {
    font-size: 24px;
  }

  .navbar p {
    font-size: 15px;
    margin-top: auto !important;
    margin-right: auto !important;
  }

  .bar {
    width: 80vw !important;
    height: 100vh;
  }

  .bar .description {
    margin-top: auto;
    position: relative;
  }

  .bar .description h2 {
    font-size: 28px;
    line-height: 30px;
  }

  .bar .description p {
    font-size: 18px;
    line-height: 29px;
  }

  .bar img {
    margin-top: 40vh;
    width: 25.1vw;
    height: 15vh;
  }

  /*_________Modal__________*/
  .Mod {
    transform: translate(0%, 0%) !important;
  }

  .Mod .modal-dialog-full-width {
    height: 100% !important;
    width: 100% !important;
    margin-left: 0vw !important;
  }

  .Mod .modal-dialog-full-width .modal-content-full-width {
    height: 100vh !important;
    width: 100vw !important;
  }

  /*____________CLose btn_______________*/
  .Mod .modal-dialog .modal-content .secondcol .close1 {
    display: none;
  }

  /*______modalbody____________*/
  .modal-bodyz {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column !important;
  }

  .modal-bodyz img {
    position: absolute;
    margin-top: 15vh;
    margin-left: 35vw !important;

    height: 30vh !important;
    height: 30vw !important;
    text-align: center;
  }

  /*__________firstcol_______________*/
  .modal-bodyz .firstcol {
    width: 100vw !important;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    display: flex;
    flex-direction: row;
  }

  .firstcol h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: fit-content;
    margin-left: auto;
    font-weight: 900;
    font-size: 8vw;
    line-height: 59px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    color: #000000;
    display: block !important;
  }

  .Mod .modal-dialog .modal-content .firstcol .close1 {
    color: rgb(0, 0, 0) !important;
    float: right;
    font-size: 7vw;
    vertical-align: text-top !important;
    text-align: center;
  }

  /*________secondcol_________*/
  .modal-bodyz .secondcol {
    width: 100vw !important;
    height: 80vh;
  }

  .modal-bodyz .secondcol .content {
    width: 75vw;
    height: fit-content;
    margin: 14vh 0% 0% 0%;
  }

  .modal-bodyz .secondcol .content h2 {
    display: none;
  }

  .modal-bodyz .secondcol .content p {
    font-size: 4vw;
    line-height: 6vh;
    text-align: center;
    margin-top: 5%;
    padding: 5px !important;
  }
}

@media only screen and (max-width: 450px) {
  .modal-bodyz img {
    position: absolute;
    margin-top: 19vh;
    margin-left: 33.5vw !important;
    height: 35vh !important;
    height: 35vw !important;
    text-align: center;
  }

  /*__________firstcol_______________*/

  .firstcol h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: fit-content;
    margin-left: auto;
    font-weight: 900;
    font-size: 8vw;
    line-height: 59px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    color: #000000;
    display: block !important;
  }

  .Mod .modal-dialog .modal-content .firstcol .close1 {
    text-align: center;
    padding: 12px;
  }

  /*________secondcol_________*/
  .modal-bodyz .secondcol {
    width: 100vw !important;
    height: 80vh;
  }

  .modal-bodyz .secondcol .content {
    width: 75vw;
    height: fit-content;
    margin: 14vh 0% 0% 0%;
  }

  .modal-bodyz .secondcol .content h2 {
    display: none;
  }

  .modal-bodyz .secondcol .content p {
    font-size: 4vw;
    line-height: 6vh;
    text-align: center;
    margin-top: 5%;
    padding: 5px !important;
  }
}
